{
	"semi": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 120,
	"tabWidth": 2,
	"endOfLine": "lf",
	"useTabs": true,
	"jsxSingleQuote": true,
	"parser": "typescript",
	"overrides": []
}
